header{
  padding: 10px 20px;
  background-color: rgb(0, 183, 255);
  border-bottom: 2cm;
  text-align: right;
  align-items: center;
 


}
button{
        background-color: green;
        padding: 10px *20px;
        border-radius: 10px;
}